<!DOCTYPE html>
<html>
<h1>QUIZZ</h1>
<form action="/logout" method="POST">
    <p>Hello, {{session["user_name"]}}</p>
    <p><input type="submit" value="Logout"/></p>
</form>
<form action="/quiz" method="POST">
    Number of questions:
    <select name="questionCount">
        <option value="5">5</option>
        <option value="10">10</option>
    </select>
    <input type="hidden" name="questionNumber" value="-1" type="text"/>

  

    <p><input type="submit" value="START"/></p>
</form>

</html>
