<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/index.css')}}">
</head>
<div>
    <div class="card left">
        <div class="container">
            <form action="/quiz" method="POST">
                <h3>Start a new quiz</h3>
                Select the number of questions:
                <select name="questionCount">
                    <option value="5">5</option>
                    <option value="10">10</option>
                </select>
                <input type="hidden" name="questionNumber" value="-1" type="text"/>  

                <p><button type="submit2">START</button></p>
          
            </form>
        </div>
        
    </div>

    <div class="card right">
        <div class="container">
            
                <h3>Profile</h3>
                <p>Username: {{session["user_name"]}}</p>
                <p>Solved quiz: {{session["solved_quiz"]}} </p>
                <p>Average score percent: {{session["avg_score_percent"]}} %</p>
                <p>RANK: {{session["rank"]}}</p>
             <li>  
            <form method="POST" action="{{ url_for('statistics') }}">
                  <button type="submit3">Statistics</button>
                  </form>
             </li>
           <form action="/logout" method="POST">
                <li>
            <input type="submit" value="Logout"/>
                </li>
             </form>
            <li>  
            <form method=POST onsubmit="return confirm('Delete your account?')"              
                         action="{{ url_for('delete_user') }}">
                  <button type="submit">Delete account</button>
                </form>
             </li>
        </div>
    </div>           
</div>


</html>
