<html>
<head>
<title> Quiz index</title>   
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/style.css')}}">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
     <meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
</head>
<body>
    <div class="w3 w3 w3-center w3-allerta">
  <p class="w3-xxxlarge">Quiz App</p>
 </div>
    <div id="login-box">
      <div class="left-box">
	<form action="/register" method="POST">
        <h1> Sign Up</h1>
          
          <input type="text" name="username" placeholder="Username" required/>
          <input type="password" name="password" placeholder="Password" required/>
        
          <input type="submit" name="signup-button" value="Sign Up"/>
	  {% if error_reg %}
              <p class=error><strong>Error:</strong> {{ error_reg }}
          {% endif %}
      </form>  
        </div>
        <form action="/login" method="POST">
        <div class="right-box">
          <h1> Sign In</h1>
          
          <input type="text" name="username" placeholder="Username" required/>
          <input type="password" name="password" placeholder="Password" required/>
        
          <input type="submit" name="signup-button" value="Sign In"/>
          {% if error_log %}
              <p class=error><strong>Error:</strong> {{ error_log }}
          {% endif %}
        </div>
	</form>
        <div class="or">OR</div>
    </div>
    
</body>    
</html>
