<!DOCTYPE html>
<html>
<h1>LOGIN</h1>
<form action="/login" method="POST">
    Username:
    <input name="username" type="text" required>
    Password:
    <input name="password" type="password" required>
    <p><input type="submit" value="SIGN IN"/></p>
</form>

<h1>REGISTRATION</h1>
<form action="/register" method="POST">
    Username:
    <input name="username" type="text" required>
    Password:
    <input name="password" type="password" required>
    <p><input type="submit" value="SIGN UP"/></p>
</form>

</html>
